 .ques{
   text-align:center;
   font-size: 3rem;
   margin-left: 70%;
   width: 20%;
 }
 .pic{
   width:550px;
   height: 450px; 
   margin-top: 3%;
   display: flex;
   animation:  snap  2s  infinite alternate-reverse ;
   
 }
   
@keyframes snap {
  from{transform: translate(0%);}
  to {transform: translateY(8%);}
}
.container5{
display: flex;
justify-content: center;
align-items: center;
margin-left: 2%;
width: 90%;
margin-top: -10%;
}
.accordionBlock{
margin-top: -12%;
width: 90%;
margin-left: 35%;
}
.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 1em;
  width: 80%;
  background-color: black;
  margin: 0 auto;
  margin-bottom: .2em;
  border-radius: .5em;
 }
 .question:hover{
   cursor: pointer;
 }
 .fas{
   font-size: 30px;
   color:white;
 }
 .question h2{
   color: #fff;
   font-size: 1.3rem;
 }
 .question p{
   color: #fff;
   font-size: 2.2rem;
 }
 
 
  .jawab{
   font-size: 1.2rem;
   background-color: whitesmoke;
   width: 83%;
   margin: 2px auto ;
   border-radius: .5em;
   height:50px;
   white-space: 0px;
   text-align: left;
   padding-left: 7px;
  
}

