@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap%27');

.ask{
    border: white;
    border-style: solid;
    border-width: 3px;
    padding-left: 20px;
    padding-bottom: 50px;
    padding-left: 10px;
    margin-top: 60px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 7px;
  }
  .heading{
    align-items: center;
    margin-left: 40%;
    font-size: 45px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 30px;
    margin-top: 50px;
    text-decoration: underline;
  }
  .form {
    border: black;
    display: flex;
    flex-direction: column;
    width: -50px;
    margin-top: 90px;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 10px;
  }
  .button_submit {
    background-color: #5f9341;
    border-radius: 5px;
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
  }
  .enter_email {
    border-radius: 5px;
    padding: 10px;
  }
  
  .enter_no {
    margin-top: 30px;
    border-radius: 5px;
    padding: 10px;
  }
  .enter_query{
    margin-top: 30px;
    border-radius: 5px;
    padding: 10px;
  }

  