@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap%27');

.side_stuff{
    color:black;
    display:flex;
    flex-direction: row;
    margin-left: 1140px;
    margin-top: -750px;
    font-size: 22px;
    position: absolute;
    font-family: 'Kanit', sans-serif;
    
}
.first{
    margin-right: 40px;
}
.second{
    margin-right: 40px;
    margin-left: 24px;
}
.third{
    margin-left: 20px;

}
.back_img{
    width: 100%;
    position: relative;
    height: 630px;
    margin-top: -20px;
}
.container{
    
    position: absolute;
    width: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -610px;
}
.word{
    max-width: 100%;
    letter-spacing: 5px;
    
    position: absolute;
    color: black;
    animation:word 6s infinite ease-in-out;
    font-family: 'Kanit', sans-serif;
}
.word:nth-child(1){
    animation-delay:-15s ;
    font-weight: bold;
    font-size: 100px;
    margin-top: -30px;
    align-items: center;

}
.word:nth-child(2){
    animation-delay:-12s ;
    font-size: 40px;
    
}
@keyframes word{
    0%,5%, 100%{
        filter:blur(0px);
        opacity: 1;
    }
    20%, 80%{
        filter:blur(30px);
        opacity: 0;
    }
}
.logo{
    position: relative;
    height:140px;
    width:140px;
    margin-top: 20px;
    float: left;
}