@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap%27');


.side_stuff{
    /* color:black; */
    display:flex;
    flex-direction: row;
    margin-left: 1040px;
    margin-top: -750px;
    font-size: 22px;
    position: absolute;
    font-family: 'Kanit', sans-serif;
    }


.first{
    margin-right: 40px;
}
/* .second{
    margin-right: 40px;
    margin-left: 24px;
} */
.third{
    margin-left: 20px;

}
.back_img{
    width: 100%;
    position: relative;
    height: 630px;
    margin-top: -20px;
}
.container{
    
    position: absolute;
    width: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -610px;
}
.word{
    max-width: 100%;
    letter-spacing: 5px;
    
    position: absolute;
    /* color: black; */
    animation:word 6s infinite ease-in-out;
    font-family: 'Kanit', sans-serif;
}
.word:nth-child(1){
    animation-delay:-15s ;
    font-weight: bold;
    font-size: 100px;
    margin-top: -30px;
    align-items: center;

}
.word:nth-child(2){
    animation-delay:-12s ;
    font-size: 40px;
    
}
@keyframes word{
    0%,5%, 100%{
        filter:blur(0px);
        opacity: 1;
    }
    20%, 80%{
        filter:blur(30px);
        opacity: 0;
    }
}
.logo{
    position: relative;
    height:140px;
    width:140px;
    margin-top: 20px;
    float: left;
}
.query{
position: absolute;
top:3%;
left:27%;
background: #fff;
width:410px;
padding: 30px;
box-shadow: 0 0 8px #00008B;
background-image: url("https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGVkdWNhdGlvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
background-repeat: no-repeat;
background-size: cover;
height: 600px;
width: 600px;
}

.data{
    padding-top: 1px;
}

.heading{
    font-size: 50px;
    font-weight: 700;
    margin-right: -20px;
    margin-top: 5px;
    font-family: 'Kanit', sans-serif;
    text-decoration:none;
    color:white;
    
    
}
.query form{
    margin-top: -20px;
}


.query form .data{
    height: 45px;
    width: 100%;
    margin: 40px 0;
    font-family: 'Kanit', sans-serif;
    color:white;

}
.first_q{
    margin-top: 40px;
    color:white;
    font-family: 'Kanit', sans-serif;

}
.second_q{
    margin-top: 40px;
    color:white;
    font-family: 'Kanit', sans-serif;
}

.third_q{
    color:white;
    margin-top: 40px;
    font-family: 'Kanit', sans-serif;
}

.submit{
    margin-top: 40px;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    height:100%;
    width: 40%;
    background: none;
    border:none;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    color:white;
    box-shadow: 0 0 8px whitesmoke;
    

}
.close-icon{
    float: right;
    margin-top: -456px;
    margin-right: -29px;
    background: whitesmoke;
    border: none;
    height:26px;
    width: 30px;
    font-size: 20px;
    
}
.second{
    font-size: 22px;
    text-decoration: none;
    border: none;
    font-family: 'Kanit', sans-serif;
    background-color: white;
    margin-right: 30px;
    margin-left: 10px;

}

.phone{
    padding-left: -20px;
}
.q{
    padding-left: 20px;
}

form .data input{
    height: 30px;
    border-radius: 5px;
    width: 400px;
    padding-left: 13px;
    font-size: 17px;
    font-family: 'Kanit', sans-serif;
    border: 1px solid lightgrey;
}

form .data label{
    color:white;
    font-size: 23px;
    font-family: 'Kanit', sans-serif;
    padding-right: 20px;
}

