@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

.homepage_cont_2_3{
    background-color: white;
    font-family: 'Kanit', sans-serif;
    margin:3%;
}
.homepage_cont_2{
    margin-bottom:10%;
}
.homepage_cont_2-1_img{
    width:100%;
    height:25rem;
}
.homepage_cont_2_images{
    display:flex;
    margin:3% auto;
    width: 70%;
    justify-content: center;
    max-height:50%;
    text-decoration:none;
}
.homepage_cont_2_img{
    width: 20rem;
    height:15rem;
}
.homepage_cont_2_heading{
    padding:15px;
}


.homepage_cont_2_img_div_1,
.homepage_cont_2_img_div_2{
    margin:0 auto;
    justify-content:center;
    cursor:pointer;  
    background-color: #a1a1a1;
    border-radius: 25px;
}
.homepage_cont_2_img_div_1:hover,
.homepage_cont_2_img_div_2:hover{
transform:scale(1.1);
border-radius: 30px;
box-shadow: 15px 20px 15px rgb(71, 65, 65);
}

.homepage_cont_2_img:hover{
    border-radius: 30px;
}

.homepage_cont_2_img_link{
    text-decoration:none;
    color:#f2fbff;

}
.homepage_cont_2_img_link:hover{
    color:rgb(0, 0, 0);
}
.homepage_cont_3{
    width:70%;
    margin:2% auto;
}
.homepage_cont_3_ex{
    margin:3% auto;
    display:flex;
    justify-content:space-evenly;
    padding:20px;
    border:10px solid rgb(228, 222, 222);
}
.homepage_cont_3_ex_vdo{
    width:22rem;
    height:17rem;
    cursor:pointer;
    border-radius: 20px;

    
}
.homepage_cont_3_ex_vdo:hover{
    transform:scale(1.2);
    box-shadow: 20px 15px 20px rgb(71, 65, 65);
    position: relative;
    }
.homepage_cont_3_ex_p{
    width:20rem;
    height:15rem;
    text-align: center;
    font-size:17px;

}
.homepage_cont_3_hr{
    border-bottom:1px solid black;
    margin:10px;
}
.homepage_cont_3_ex_p_p{
    padding-top:70px;
}