@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

*{
    margin: 0;
}

body{
    background: #B8E4F0;
}

.footer_cont_6{
    font-family: 'Kanit', sans-serif;
    /* background:#6E3CBC; */
    background:white;
}

.test{
    color: black;
}

.footer_cont_6a{
    display: flex;
}

.footer_cont_6b{
    display: flex;
    margin-top:4%;
    padding-bottom: 4%;
}

.footerimg{
    margin-top: 4%;
    width: 300px;
    border-radius: 3px;
}

.footer_contribute{
    font-size:3rem;
    margin-left: 3%;
}

.footer_cont_6a_a{
    margin-top: 4%;
    width: 50%;
}

.footer_email{
    width: 60%;
    height:25%;
    border: none;
    border-bottom: 1px solid;
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    margin-left: 18%;
    margin-top: 4%;
}

.footer_cont_6a_a1{
    display: flex;
}

.footer_send{
    width: 30px;
    height: 30px;
    margin-top: 4%;
}
