@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

*{
    margin: 0;
}



.footer_cont_6{
    font-family: 'Kanit', sans-serif;
    background:white;
}

.test{
    color: black;
    text-align: left;
    font-size:2rem;
}

.test_1{
    margin-top: 2%;
    font-size:1.2rem;
}

.footer_cont_6a{
    display: flex;
}

.footer_cont_6b{
    display: flex;
    margin-top:4%;
    padding-bottom: 4%;
}

.footerimg{
    margin-top: 4%;
    width: 300px;
    border-radius: 3px;
    margin-left: 5%;
}

.footer_contribute{
    font-size:3rem;
    margin-left: 3%;
}

.footer_cont_6a_a{
    margin-top: 4%;
    margin-left: 2%;
    width: 50%;
}

.footer_email{
    width: 60%;
    height:30%;
    border: none;
    border-bottom: 1px solid;
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    margin-left: 18%;
    margin-top: 4%;
    outline: none;
}

.footer_cont_6a_a1{
    display: flex;
}

.footer_send{
    width: 30px;
    height: 30px;
    margin-top: 4%;
}

.footer_cont_6b_a{
    margin-left: 10%;
}

.footer_cont_6b_b{
    margin-left: 11%;
    text-align:left;
}

.footer_icons{
    width:150%;
}

.footer_icons_all{
    width:30px;
    margin-top: 8%;
    margin-left:8%;
}

.footer_icons_all1{
    margin-left:0;
    width:30px;
}

b:hover{
color: #6E3CBC;
}