*{
    margin:0;
}
.header_1{
    display:flex;
    justify-content: space-between;
    width:100%;
}
.header_img{
    width:10%;
    float:left;
}
.navbar_points{
    display:flex;
    list-style: none;
}
.navbar_point{
    margin:2rem 4rem 0 0;
    font-size: 1.5rem;
}

.header_2{
    display:flex;
    width:95%;
    margin:0 auto;
}
.header_2_head{
    word-wrap: inherit;
    width:50%;
}
.header_2_heading{
    font-size: 3rem;
    font-weight: bolder;
    text-align: left;
    padding:2%;
    padding-left:5%;
    padding-top:6%;
}
.header_2_vdo{
    float:right;
    margin-right: -9%;
}
.header_vdo{
    border:3px solid white;
    border-radius:50%;
    background-color: rgb(255, 240, 221);
    width:65%;
    height:90%;    
}
.header_2_last{
    text-align: end;
    margin-top:19%;
    position: absolute;
    right: 0;
    margin-right: 3%;
}