.user{
    
    position: absolute;
    font-size:1.3rem;
   margin-left:-15%;
    margin-top: 14%;
    color:white;
}

.snap{
    width:140%;
    position:absolute; 
    margin-left:-90%;
   overflow-y:hidden;
   
}
.picture{
    width: 400px;
    height: 400px;
    margin-top: 11%;
    position: absolute;
    display: flex; 
    margin-left: 4%;
    animation:  snap  1.5s  infinite alternate-reverse ;
    
}
.form{
    margin-left:-10%;
}
   
@keyframes snap {
    from{transform: translate(0%);}
    to {transform: translateY(10%);}
  }

 .email-1{
    margin-top: 16%;
    position: absolute;
   margin-left:-15%;
    background-color: darkgrey;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    height:40px;
    width:300px;
    font-size:1em;
    color: white;
    outline: none;
}
.password{
    position: absolute;
    font-size:1.3rem;
    margin-left: -15%;
    margin-top: 20%;
    color:white;
}
.password-1{
    border-color: black;
    border-width: 3px;
    border-style: solid;
    margin-top: 22%;
    position: absolute;
    margin-left: -15%;
    background-color: darkgrey;
    color: white;
    border-radius: 8px;
    height:40px;
    width:300px;
    font-size:1em;
    outline: none;
}
.login_btn{
    position: absolute;
    margin-top:27%;
    background: black;
    height: 43px;
    width: 316px;
    margin-left: -15%;
    color: white;
    border-radius:6px;
    border-style:2px solid;
    border-width: 3px;
    border-color:white;
    font-size:1rem;
   border: 1px solid black;
    
   
     
    
}
.login_btn:hover{
    background-color: grey;
 
}
.login_google{
position: absolute;
margin-top:32%;
background: #2B2B2B;
height: 42px;
width: 200px;
margin-left:-19%;
color: white;
border-radius:6px;
border-style:2px solid;
border-width: 3px;
border-color:white;
font-size:1rem;
border: 1px solid black;
}
.login_fb{
position: absolute;
margin-top:32%;
background: #2B2B2B;
height: 42px;
width: 200px;
margin-left:-4%;
color: white;
border-radius:6px;
border-style:2px solid;
border-width: 3px;
border-color:white;
font-size:1rem;
border: 1px solid black;
padding-top: -60px;
}
.fb{
width:25px;
height:25px;
position: absolute;
margin-left: -14%;
}

.google{
width:25px;
height:25px;
position: absolute;
margin-left: -15%;
}

.striped {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
position: absolute;
margin-top:30%;
margin-left: 49%;
width: 345px;

} 

.striped-line {
flex: auto;
flex-basis: auto;
border: none;
outline: none;
height: 2px;
background: lightgrey;

}

.striped-text {
font-family: inherit;
font-size: 1rem;
font-weight: 500;
line-height: inherit;
color: white;
margin: 0 1rem;
} 

  
