.heading_school{
    font-size:5rem;
    font-weight:900;
}

.school_container1{
    display: flex;
    height:00px;
}

.school_container1_card1{
    border-radius: 10px;
    margin-top: 5%;
}

.card_vid{
    width:90%;
    border-radius:10px;
    border: 1px solid white;
}

.school_container1_card1_para1{
    color: white;
    position: absolute;
    margin-left:11%;
    margin-top: -11.3%;
    font-size:3rem;
}

.school_container1_card1_para2{
    color: white;
    position: absolute;
    margin-left:9%;
    margin-top: -11.3%;
    font-size:3rem;
}

.school_container1_card1_para3{
    color: white;
    position: absolute;
    margin-left:5%;
    font-size:3rem;
    margin-top: -11.3%;
}