@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap%27');

.search-box{
    position:absolute;
    height:60px;
    width:0px;
    margin-top: 220px;
    margin-left: 400px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
  }
  
  .search-box.active{
    width: 350px;
    position: absolute;
    font-family: 'Kanit', sans-serif;
    
    
  }
  
  .search-box.active input{
    opacity:1;
    position: absolute;
    font-family: 'Kanit', sans-serif;
  }
  
  .search-box input{
    height:90%; 
    width:100%;
    font-weight: bold;
    position: absolute;
    border:none;
    background:burlywood;
    font-size:18px;
    border-radius: 50px;
    padding: 0 60px 0 20px;
    outline:none;
    opacity:0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
  }
  
  .search-box .search-btn{
    height:50px;
    position: absolute;
    width:50px;
    background:rebeccapurple;
    color:#664AFF;
    top:45%;
    right:-152px;
    transform: translateY(-50%);
    line-height:50px;
    text-align:center;
    border-radius:50%;
    font-size:20px;
    cursor:pointer;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
    z-index:2;
  }
  input::placeholder{
      color: black;
      font-family: 'Kanit', sans-serif;
  }
  
  
  .search-box.active .search-btn{
    height:50px;
    position: absolute;
    left: 550px;
    width:50px;
    background: #664AFF;
    color:#fff;
    margin-right: -175px;
  }
  
  .search-box .cancel-btn
  {
    position: absolute;
    color: #664AFF;
    top:45%;
    right: -75px;
    transform: translateY(-50%);
    color:black;
    font-size:25px;
    cursor:pointer;
    margin-right:-200px;
    padding-top:-3px;
    height:40px;
    width:50px;
    line-height:50px;
    text-align:center;
    border-radius:40%;
    background-color:coral;
    opacity:0;
  }
  
  .search-box.active .cancel-btn{
    right: -135px;
    opacity:1;
    cursor:progress;
    position: absolute;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
  }