.search-box{
    position:absolute;
    height:60px;
    width:0px;
    margin-top: 220px;
    margin-left: 400px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
  }
  
  .search-box.active{
    width: 350px;
    
    
  }
  
  .search-box.active input{
    opacity:1;
    position: absolute;
  }
  
  .search-box input{
    height:90%;
    width:100%;
    font-weight: bold;
    position: absolute;
    border:none;
    background:pink;
    font-size:18px;
    border-radius: 50px;
    padding: 0 60px 0 20px;
    outline:none;
    opacity:0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
  }
  
  .search-box .search-btn{
    height:50px;
    position: relative;
    width:50px;
    background:rebeccapurple;
    color:#664AFF;
    position: absolute;
    top:45%;
    right:-75px;
    transform: translateY(-50%);
    line-height:50px;
    text-align:center;
    border-radius:50%;
    font-size:20px;
    cursor:pointer;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
    z-index:2;
  }
  input::placeholder{
      color: white;
      font-family: 'Kanit', sans-serif;
  }
  
  
  .search-box.active .search-btn{
    height:50px;
    position: absolute;
    width:50px;
    background: #664AFF;
    color:#fff;
    margin-right: -175px;
  }
  
  .search-box .cancel-btn
  {
    position: absolute;
    color: #664AFF;
    top:45%;
    right: -75px;
    transform: translateY(-50%);
    /* color:black; */
    font-size:25px;
    cursor:pointer;
    margin-right:-200px;
    padding-top:-3px;
    height:40px;
    width:50px;
    line-height:50px;
    text-align:center;
    border-radius:40%;
    background-color:coral;
    opacity:0;
  }
  
  .search-box.active .cancel-btn{
    right: -135px;
    opacity:1;
    position: absolute;
    
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
  }

  /* @media only screen and (max-width:900px){
    .search-box input{
      margin-left: -340px;
    }
    
  }

  @media only screen and (max-width:1245px){
    .search-box input{
      margin-left: -140px;
    }

    .search-box.active .search-btn{
      margin-left: 1000px;
    }
    
  } */