.search-box{
    position:absolute;
    height:60px;
    width:0px;
    margin-top: 300px;
    margin-left: 300px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
  }
  
  .search-box.active{
    width: 350px;
    position: absolute;
    
  }
  
  .search-box.active input{
    opacity:1;
    position: absolute;
  }
  
  .search-box input{
    height:100%;
    width:100%;
    position: absolute;
    border:none;
    background:plum;
    font-size:18px;
    border-radius: 50px;
    padding: 0 60px 0 20px;
    outline:none;
    opacity:0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
  }
  
  .search-box .search-btn{
    height:50px;
    position: absolute;
    width:50px;
    background:rebeccapurple;
    color:#664AFF;
    position: absolute;
    top:50%;
    right:-75px;
    transform: translateY(-50%);
    line-height:50px;
    text-align:center;
    border-radius:50%;
    font-size:20px;
    cursor:pointer;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
    z-index:2;
  }
  
  
  .search-box.active .search-btn{
    height:50px;
    position: absolute;
    width:50px;
    background: #664AFF;
    color:#fff;
  }
  
  .search-box .cancel-btn
  {
    position: absolute;
    color: #664AFF;
    top:50%;
    right: -75px;
    transform: translateY(-50%);
    /* color:#664AF;
    font-size:25px;
    cursor:pointer;
    height:50px;
    width:50px;
    line-height:50px;
    text-align:center;
    border-radius:50%;
    opacity:0; */
  }
  
  .search-box.active .cancel-btn{
    right: -135px;
    opacity:1;
    color:#fff;
    position: absolute;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
  }