
 .cont-5{
  border-radius: 3px;
  border-color: white;
  border-style: solid;
  margin-top:20px;
  width:94%;
 height:850px;
  margin-left: 2%;
  } 
  .accordion_heading{
    margin-top: 100px;
  }
 .accordion_pic{
   width:400px;
   height: 400px; 
   margin-top: 90px;
   margin-left:4%;
   display: flex;
   animation:  snap  2s  infinite alternate-reverse ;
}
   
@keyframes snap {
  from{transform: translate(0%);}
  to {transform: translateY(20%);}
}
.container5{
display: flex;
width: 70%; 
margin-left: 28%; 
margin-top: -80px;
}
.accordionBlock{
margin-top: -530px;
width: 79%;
margin-left: 10%;
}
.question{
display: flex;
height:50px;
justify-content: space-between;
align-items: center;
padding: .5em 1em;
width: 90%;
background-color: black;
margin: 0 auto;
margin-bottom: .2em;
border-radius: .5em;
border-color: #fff;
border-width: 3px;
border-style:solid;
 }
 .question:hover{
   cursor: pointer;
 }
 .fas{
   font-size: 2rem;
   color:white;
 }
 .question .ques{
   height: 50px;
   color: #fff;
   font-size: 1.1rem;
   padding-top: 20px;
}
 
 .answers .jawab{
   font-size: 1rem;
   background-color: whitesmoke;
   width: 89%;
   font-weight:600;
   margin: 2px auto ;
   border-radius: .5em;
   height:50px;
   white-space: 0px;
   text-align: left;
   padding-left: 7px;
    color: black;
}

@media only screen and (max-width: 1287px) {
  .cont-5{
    border-radius: 3px;
    border-color: white;
    border-style: solid;
    margin-top:20px;
    width:95%;
    height:850px;
    margin-left: 3%;
    } 
    .accordion_heading{
      margin-top: 100px;
    }
   .accordion_pic{
     width:400px;
     height: 400px; 
     margin-top: 90px;
     margin-left:4%;
     display: flex;
     animation:  snap  2s  infinite alternate-reverse ;
  }
     
  @keyframes snap {
    from{transform: translate(0%);}
    to {transform: translateY(20%);}
  }
  .container5{
  display: flex;
  width: 70%; 
  margin-left: 28%; 
  margin-top: -80px;
  }
  .accordionBlock{
  margin-top: -530px;
  width: 79%;
  margin-left: 16%;
  }
  .question{
  display: flex;
  height:50px;
  justify-content: space-between;
  align-items: center;
  padding: .5em 1em;
  width: 100%;
  background-color: black;
  margin: 0 auto;
  margin-bottom: .2em;
  border-radius: .5em;
  border-color: #fff;
  border-width: 3px;
  border-style:solid;
   }
   .question:hover{
     cursor: pointer;
   }
   .fas{
     font-size: 1.4rem;
     color:white;
   }
   .question .ques{
     height: 50px;
     color: #fff;
     font-size: 1rem;
     padding-top: 20px;
     text-align: left;
  }
   
   .jawab{
     font-size: 0.9rem;
     font-weight:400;
     background-color: whitesmoke;
     /* width: 105%; */
     margin: 2px auto ;
     border-radius: .5em;
     height:50px;
     white-space: 0px;
     text-align: left;
     padding-left: 7px;
      color: black;
  }
  .answers .jawab{
    width:100%;
  }
  
 }  
@media only screen and (max-width: 1277px) {
    .cont-5{
      border-radius: 3px;
      border-color: white;
      border-style: solid;
      margin-top:20px;
      width:95%;
     height:850px;
      margin-left: 3%;
      } 
      .accordion_heading{
        margin-top: 100px;
      }
     .accordion_pic{
       width:300px;
       height: 300px; 
       margin-top: 200px;
       margin-left:4%;
       display: flex;
       animation:  snap  2s  infinite alternate-reverse ;
    }
       
    @keyframes snap {
      from{transform: translate(0%);}
      to {transform: translateY(30%);}
    }
    .container5{
    display: flex;
    width: 70%; 
    margin-left: 28%; 
    margin-top: -80px;
    }
    .accordionBlock{
    margin-top: -530px;
    width: 79%;
    margin-left: 16%;
    }
    .question{
    display: flex;
    height:50px;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
    width: 100%;
    background-color: black;
    margin: 0 auto;
    margin-bottom: .2em;
    border-radius: .5em;
    border-color: #fff;
    border-width: 3px;
    border-style:solid;
     }
     .question:hover{
       cursor: pointer;
     }
     .fas{
       font-size: 1rem;
       color:white;
     }
     .question .ques{
       height: 50px;
       color: #fff;
       font-size: 1rem;
       padding-top: 20px;
       text-align: left;
    }
  .jawab{
       font-size: 1.1rem;
       font-weight:700;
       background-color: whitesmoke;
       width: 100%;
       margin: 2px auto ;
       border-radius: .5em;
       height:50px;
       white-space: 0px;
       text-align: left;
       padding-left: 7px;
        color: black;
    }
}
@media only screen and (max-width:1269)  {
  .cont-5{
    border-radius: 3px;
    border-color: white;
    border-style: solid;
    margin-top:20px;
    width:95%;
   height:850px;
    margin-left: 3%;
    } 
    .accordion_heading{
      margin-top: 100px;
    }
   .accordion_pic{
     width:300px;
     height: 300px; 
     margin-top: 200px;
     margin-left:4%;
     display: flex;
     animation:  snap  2s  infinite alternate-reverse ;
  }
     
  @keyframes snap {
    from{transform: translate(0%);}
    to {transform: translateY(30%);}
  }
  .container5{
  display: flex;
  width: 70%; 
  margin-left: 28%; 
  margin-top: -80px;
  }
  .accordionBlock{
  margin-top: -530px;
  width: 79%;
  margin-left: 16%;
  }
  .question{
  display: flex;
  height:50px;
  justify-content: space-between;
  align-items: center;
  padding: .5em 1em;
  width: 100%;
  background-color: black;
  margin: 0 auto;
  margin-bottom: .2em;
  border-radius: .5em;
  border-color: #fff;
  border-width: 3px;
  border-style:solid;
   }
   .question:hover{
     cursor: pointer;
   }
   .fas{
     font-size: 1rem;
     color:white;
   }
   .question .ques{
     height: 50px;
     color: #fff;
     font-size: 1rem;
     padding-top: 20px;
     text-align: left;
  }
   
   .jawab{
     font-size: 0.9rem;
     /* font-weight:700; */
     background-color: whitesmoke;
     width: 100%;
     margin: 2px auto ;
     border-radius: .5em;
     height:50px;
     white-space: 0px;
     text-align: left;
     padding-left: 7px;
      color: black;
  }
  .answers{
    width:105%;
  }


}
@media only screen and (max-width:1208){
  .cont-5{
    border-radius: 3px;
    border-color: white;
    border-style: solid;
    margin-top:20px;
    width:95%;
   height:850px;
    margin-left: 3%;
    } 
    .accordion_heading{
      margin-top: 100px;
    }
   .accordion_pic{
     width:300px;
     height: 300px; 
     margin-top: 200px;
     margin-left:4%;
     display: flex;
     animation:  snap  2s  infinite alternate-reverse ;
  }
     
  @keyframes snap {
    from{transform: translate(0%);}
    to {transform: translateY(30%);}
  }
  .container5{
  display: flex;
  width: 70%; 
  margin-left: 28%; 
  margin-top: -80px;
  }
  .accordionBlock{
  margin-top: -530px;
  width: 79%;
  margin-left: 16%;
  }
  .question{
  display: flex;
  height:50px;
  justify-content: space-between;
  align-items: center;
  padding: .5em 1em;
  width: 106%;
  background-color: black;
  margin: 0 auto;
  margin-bottom: .2em;
  border-radius: .5em;
  border-color: #fff;
  border-width: 3px;
  border-style:solid;
   }
   .question:hover{
     cursor: pointer;
   }
   .fas{
     font-size: 1rem;
     color:white;
   }
   .question .ques{
     height: 60px;
     color: #fff;
     font-size: 0.9rem;
     padding-top: 20px;
     text-align: left;
     
  }
   
   .jawab{
     font-size: 0.9rem;
     /* font-weight:700; */
     background-color: whitesmoke;
     width: 100%;
     margin: 2px auto ;
     border-radius: .5em;
     height:50px;
     white-space: 0px;
     text-align: left;
     padding-left: 7px;
      color: black;
  }
  .answers .jawab{
    width:108%;
  }

  
}

  
  
 
  




































































































































































