.blog_card{
    width:47%;
    background-color: whitesmoke;
    height:640px;
   
    
   
    /* padding:20px; */

    border-color: black;
    border-style: solid;
    border-width: 3px;
}

.blogs-container_1{
   
display: flex;
flex-wrap: wrap;
 
  
  gap:10px;
}

.engineering_blog{
    width:100%;
}
.heading_blog_tag{
    font-weight: 600;
    /* width:100%; */
    
}
.blog_heading{
    width:100%;
}
.blog_para{
    margin-top: 1%;
}
.blog-paragraph{
    margin-top: 1%;
    justify-content: left;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.2rem;
}
.blogs-container_1{
    margin-top: 5%;
    margin-left: 5%;
}
.blogs_card_btn{
    background-color: #3EDD84;
    height:40px;
    width:20%;
    outline: none;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    text-decoration: none;
    margin-left:65%;
    margin-top: 1%;
}
.link_blog{
    text-decoration: none;
    color:white;
    font-size: 1.1rem;
   
}