
.Group_Photo{
    width:55%;
    height:45%;
    margin-top:2%;
    border:2px solid white;
    border-radius:5px;
}

.developers_heading{
    font-size:4rem;
}


.developers_cont1{
    display: flex;
    align-items:center;
    margin-top: 4%;
    padding-bottom: 7%;
}

.chirag{
    width:15%;
    margin-left: 8%;
    border-radius: 50%;
    border: 2px solid white;
}

.kanika{
    width:15%;
    border-radius: 50%;
    margin-left: 8%;
    border: 2px solid white;
}

.bhavya{
    width:15%;
    margin-left:8%;
    border-radius: 50%;
    border: 2px solid white;
}

.aayush{
    width:15%;
    margin-left:8%;
    border-radius: 50%;
    border: 2px solid white;
}

.chirag_name{
    position: absolute;
    margin-top:34%;
    margin-left:9.5%;
    font-size: 1.5rem;
}

.kanika_name{
    position: absolute;
    margin-top:34%;
    margin-left: 33%;
    font-size: 1.5rem;
    width:12%;
}

.aayush_name{
    margin-top:34%;
    position: absolute;
    margin-left: 56.2%;
    font-size: 1.5rem;
}

.bhavya_name{
    margin-top:34%;
    margin-left:78.2%;
    position: absolute;
    font-size: 1.5rem;
}

#fas1,#fas2,#fas3,#fas4{ 
    color:black;
}

.developers_buttons1{
    background-color:white;
    border-color: #0e76a8;
    color:#0e76a8;
    font-size: 1.3rem;
    width: 85%;
}

.developers_buttons1:hover{
    background-color:#0e76a8;
    border-color: white;
    color:white;
}

.developers_buttons2{
    background-color:white;
    border-color: #1DA1F2;
    color:#1DA1F2;
    font-size: 1.3rem;
    width: 85%;
}

.developers_buttons2:hover{
    background-color:#1DA1F2;
    border-color: white;
    color:white;
}

.developers_buttons3{
    background-color:white;
    border-color: #833AB4;
    color:#833AB4;
    font-size: 1.3rem;
    width: 85%;
}


.developers_buttons3:hover{
    background-color:#833AB4;
    border-color: white;
    color:white;
}

.developers_buttons4{
    background-color:white;
    border-color: gray;
    color:gray;
    font-size: 1.3rem;
    width: 85%;
}

.developers_buttons4:hover{
    background-color:gray;
    border-color: white;
    color:white;
}