
.footer_cont_6{
    margin-top: 10%;
}

.test_1{
    margin-top: 13%;
    font-size:1.2rem;
}

.footer_cont_6a{
    display: flex;
}

.footer_cont_6b{
    display: flex;
    margin-top:4%;
    padding-bottom: 4%;
}

.footerimg{
    margin-top: 4%;
    width: 300px;
    border-radius: 3px;
    margin-left: 5%;
}

.footer_contribute{
    font-size:3rem;
    margin-left: 3%;
}

.footer_cont_6a_a{
    margin-top: 4%;
    margin-left: 2%;
    width: 50%;
}

.footer_email{
    width: 60%;
    height:30%;
    border: none;
    border-bottom: 1px solid;
    font-size: 1rem;
    margin-left: 18%;
    margin-top: 4%;
    outline: none;
}

.footer_cont_6a_a1{
    display: flex;
}

.footer_send{
    width: 50px;
    height: 50px;
    margin-top: 4%;
}

.footer_cont_6b_a{
    margin-left: 10%;
}

.footer_cont_6b_b{
    margin-left: 11%;
    text-align:left;
}

.footer_icons{
    width:20%;
    align-items: center;
    position: absolute;
    margin-left: -5%;
    margin-top:-3%;
}

.footer_icons_all{
    width:30px;
    margin-top: 8%;
    margin-left:8%;
}


b:hover{
color: #6E3CBC;
}

.footer_logo{
    width:90px;
    position:absolute;
    height:80px;
    margin-top:-2%;
    margin-left:-14%;
}

.footer_togithub{
    text-decoration: none;
}

.footer_togithub:hover{ 
    color:#6E3CBC;
}

.follow_us{

}