.heading_school{
    font-size:5rem;
    font-weight:900;
}

.school_container1{
    display: flex;
}

.school_container1_card1{
    border-radius: 10px;
    margin-top: 5%;
}

.card_vid{
    width:90%;
    border-radius:10px;
    border: 1px solid white;
}

.school_container1_card1_para1{
    color: white;
    position: absolute;
    margin-left:-21%;
    text-decoration: none;
    margin-top: 6%;
    font-size:3rem;
}

.school_container1_card1_para2{
    color: white;
    position: absolute;
    margin-left: -23%;
    margin-top: 6%;
    text-decoration: none;
    font-size:3rem;
}

.school_container1_card1_para3{
    color: white;
    text-decoration: none;
    position: absolute;
    font-size:3rem;
    margin-left:-27%;
    margin-top: 6%;
}



#school_container2_heading1,#school_container2_heading2,#school_container2_heading3{
    font-size:3rem;
    font-weight:550;
}

.school_container2_1,.school_container2_2,.school_container2_3{
border:1px solid white;
margin-top:5%;
margin-left: 3%;
margin-right:3%;
padding-bottom: 3%;
}

.school_container2_1 p,.school_container2_2 p,.school_container2_3 p{
    margin-top: 1%;
    margin-left: 5%;
    margin-right:5%;
    text-align: justify;
}

