.ug_heading{
    
    color: black;
    font-size: 5rem;
    margin-top: 1%;
    font-weight: bold;
    }
    
.ug_cards{
    margin-top: 7%;
    margin-left: 5%;
    
}

.ug_card_1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 3rem;
    margin-bottom: 4%;
    width:70%;
    border-radius: 10px;
    background-color: whitesmoke;
    height:250px;
    margin-left:8%;

}

.ug_card_2,.ug_card_3,.ug_card_4,.ug_card_5,.ug_card_6,.ug_card_7{
    /* max-width:1000px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 3rem;
    margin-bottom: 4%;
    width:70%;
    border-radius: 10px;
    background-color: whitesmoke;
    height:250px;
    margin-left:10%;
}

.ug_content_para{
    margin-top: 8%;
    width:180%;
    font-size:1.2rem;
    margin-left:10%;
}
.ug_image_mtech{
    width:400px;
    height:250px;
}
.ug_btn_2,.ug_btn_3,.ug_btn_4,.ug_btn_5,.ug_btn_6,.ug_btn_7{
    /* position:absolute; */
    width:150px;
    height:30px;
    background-color: black;
    margin-top: 70%;
    margin-left:28%;
    border-radius: 4px;
}
.ug_btn_1{
    width:150px;
    height:30px;
    background-color: black;
    margin-top: 70%;
    margin-left:28%;
    border-radius: 4px;

}
.ug_btn_click{
    text-decoration: none;
    color:white;
}

